@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  @apply grid h-screen w-screen;

  grid-template-columns: 320px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }
}
